MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=retail
MYSQL_USER=retail_user
MYSQL_PASSWORD=REPLACE_WITH_A_SECRET
MYSQL_ROOT_PASSWORD=REPLACE_WITH_A_SECRET
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=retail-events-kafka
KAFKA_CLIENT_ID=retail-api
POSTGRES_USER=airflow
POSTGRES_PASSWORD=REPLACE_WITH_A_SECRET
POSTGRES_DB=airflow
AIRFLOW_UID=50000
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=REPLACE_WITH_A_SECRET
AIRFLOW_EMAIL=admin@example.com
CORS_ORIGINS=http://localhost:5173
ML_MODEL_SHA256_FORECAST=89d6a3e71a310a648086c246ccb7eab4950a9eb1dff7c243e0431d01c332acff
ML_MODEL_SHA256_CHURN=bbe82778f171234ca160c44170a63899c1d2ece4449835006e7517a633082fc5
ML_MODEL_SHA256_LTV=e45ceb6058793f0c289c7e0b82f7b2cd22cfd2661402ffbcafcf065c2d4a402b
ML_MODEL_SHA256_DEMAND=a7784e15641b6cdc016ba0594c22be48f946501cad15ceef395e2fcd6336c8bc
ML_MODEL_SHA256_RECOMMENDATION=e4ffd60fd6bc073fe6bf70c3436bb2b18ef493dbd6155077f77206036b7b12b0
